<h1>Resumes#index</h1>
<p>Find me in app/views/resumes/index.html.erb</p>

<% @students.each do |student| %>
<p><%= student["last_name"], <%= student["first_name"] %></p>
<p><%= student["linkedin_url"] %></p>
<p><%= student["online_resume_url"] %></p>
<p><%= student["github_url"] %></p>
<% end %>

