<h1>Resumes Index</h1>
<h3>Below is a list of each student's resume:</h3>

<% @students.each do |student| %>
  <p>Name: <%= student["last_name"] %>, <%= student["first_name"] %></p>
  <p>Linkedin: <%= student["linkedin_url"] %></p>
  <p>Resume website: <%= student["online_resume_url"] %></p>
  <p>Github: <%= student["github_url"] %></p>
  <p>Skills: <%= student["skills"] %></p>
  <p>Educations: <%= student["educations"].each do |education| %></p>
    <p>Dates: <%= education["start_date"] %> - <%= education["end_date"] %></p>
    <p>Job Title: <%= education["job_title"] %>
    <p>Company: <%= education["company_name"] %>
    <p>Details: <%= education["details"] %>
    <hr>
  <% end %>
  <p>Experiences: <%= student["experiences"] %></p>
<% end %>

