<h1>Index of Student Resumes</h1>

<% if @students.count == 0%>
  <h3> There are no resumes available for view: </h3>
<% elsif @students.count == 1%>
  <h3> There is <%= @students.count %> resume available for view: </h3>
<% elsif @students.count > 1 %>
  <h3> There are <%= @students.count %> resumes available for view: </h3>
<% end %><br>

<% @students.each do |student| %>
  <% if student["photo"] %>
  <p><img src="<%= student["photo"] %>"></p>
  <% end %>
  <p>Name: <a href="/resumes/<%= student["id"] %>"><%= student["firstName"] %> <%= student["lastName"] %></a></p>
  <p>Email: <%= student["email"] %></p>
  <p>Linkedin: <a href="https://www.<%= student["linkedinUrl"] %>" target="_blank"><%= student["linkedinUrl"] %></a></p>
  <p>Twitter: <a href="https://www.<%= student["twitterHandle"] %>" target="_blank"><%= student["twitterHandle"] %></a></p>
  <p>Resume website: <a href="https://www.<%= student["onlineResume_url"] %>" target="_blank"><%= student["onlineResume_url"] %></a></p>
  <p>Github: <a href="https://www.<%= student["githubUrl"] %>" target="_blank"><%= student["githubUrl"] %></a></p>
    <hr>
<% end %>


