<h3> Resume </h3>	

<h3> Biographic Data </h3>
<p>	<%= @student["firstName"] %> </p>
<p>	<%= @student["lastName"] %> </p>
<p>	<%= @student["email"] %> </p>
<p>	<%= @student["phoneNumber"] %> </p>
<p>	<%= @student["bio"] %> </p>
<p>	<%= @student["twitterHandle"] %> </p>
<p>	<%= @student["personalWebsite_url"] %> </p>
<p>	<%= @student["onlineResume_url"] %> </p>
<p>	<%= @student["githubUrl"] %> </p>
<p>	<%= @student["photo"] %> </p>	

<h3> Capstones </h3>

<% @student["capstones"].each do |capstone| %>
<p> <%= capstone["name"] %> </p>
<p> <%= capstone["description"] %> </p>
<% end %>

<h3> Education </h3>

<% @student["educations"].each do |education| %>
<p> <%= education["startDate"] %> </p>
<p> <%= education["endDate"] %> </p>
<p> <%= education["degree"] %> </p>
<p> <%= education["company_name"] %> </p>
<% end %>

<h3> Experiences </h3>

<% @student["experiences"].each do |experience| %>
<p> <%= experience ["startDate"] %> </p>
<p> <%= experience ["endDate"] %> </p>
<p> <%= experience ["jobTitle"] %> </p>
<p> <%= experience ["companyName"] %> </p>
<p> <%= experience ["details"] %> </p>
<% end %>

<h3> Skills </h3>

<% @student["skills"].each do |skill| %>
<p> <%= skill["skill"] %> </p>

<% end %>







 




 










    